<%= link_to @room do %>
  <div class="card">
    <img src="https://res.cloudinary.com/roldan-cloudinary/image/upload/v1725566367/airbnbimage_2_sd8f0s.webp" alt="img">
    <div class="card-body">
      <h5><%= @room.name %></h5>
      <h6><%= @room.address %></h6>
      <h5>S/ <%= @room.price %></h5>
    </div>
  </div>
<% end %>
