<h1>Reservas</h1>

<div class="d-flex justify-content-between align-items-center mb-4">
  <%= link_to 'Nueva Reserva', new_room_booking_path(@room), class: "btn btn-primary" %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Habitación</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.room.name, booking_path(booking) %></td>
        <td><%= booking.date_start.strftime('%d/%m/%Y') %></td>
        <td><%= booking.date_finish.strftime('%d/%m/%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
