<div class="card">
  <img src="https://res.cloudinary.com/roldan-cloudinary/image/upload/v1715024229/logo_ysq0ba.jpg" alt="img">
  <h5>Ciudad, País</h5>
  <h6>Vistas hacia: ...</h6>
  <h6>Rango de fechas</h6>
  <h5>Precio noche</h5>
</div>
