<h1 class="mb-5"> Bienvenido a Airbnb</h1>
<h3 class="mb-5">Encuentra el perfecto lugar para tu destino</h3>
<div class="row row-cols-4">
  <%= render RoomCardComponent.with_collection(@rooms) %>
</div>
